@using BlazorApp.Data
@inject IGenreCounter genreService

<button class="btn btn-primary" @onclick="ThumbsUp">
    <span class="oi oi-thumb-up">Oh Yeah</span>
</button>
<button class="btn btn-primary" @onclick="ThumbsDown">
    <span class="oi oi-thumb-up">Hell No</span>
</button>
@code {
    [Parameter]
    public EventCallback<string> OnVoted { get; set; }

    [Parameter]
    public string genreName { get; set; }

    private void ThumbsUp()
    {
        genreService.IncrementCounter(genreName, true);
        OnVoted.InvokeAsync($"Approved {genreName}");
    }
    private void ThumbsDown()
    {
        genreService.IncrementCounter(genreName, false);
        OnVoted.InvokeAsync($"Rejected {genreName}");
    }
}
